body{
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
	text-align: center;
	padding-top: 40px;
	margin: 40px;
}

.content h1 {
	font-family: 'Roboto', san-serif;
	font-weight: 700;
}

.content .btn {
	padding: 14px 24px;
}

.footer {
	padding: 19px 0px;
	margin: 10px 0px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.footercontent {	
	text-align: center;
}

.btn {
	font-family: 'Roboto', san-serif;
}

#title{
	font-family: 'Roboto', san-serif;
	text-align: center;
}