body{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 930px;
  }
}P

.content {
	border:1px solid black;
}

.content h1 {
	font-family: 'Roboto', san-serif;
	font-weight: 700;
}

.content .btn {
	padding: 14px 24px;
	font-size: 40px;
}

.footer {
	padding: 19px 0px;
	margin: 10px 0px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.footercontent {
	text-align: center;
}

.btn {
	font-family: 'Roboto', san-serif;
}

#title{
	font-family: 'Roboto', san-serif;
	text-align: center;
}

#imageface {
	height: 50px;
}
