<div class="content">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-1">
				<h1>MEASURE YOUR SENSITIVITY ON THE DRAKE RICHTER SCALE</h1>
				<h3 class ="lead"> Take the quick quiz </h3>
				<a class="btn btn-lg btn-danger" href="#/question" role="button">
				TRY IT
				</a>
		</div>

		<div class="col-sm-4 col-md-5">
				<img ng-src="/images/Drakemain.png" class="img-responsive hidden-xs" alt="Responsive image"/>
				<p>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>

				<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="feelingslikedrake">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>


				</p>
		</div>
	</div>
</div>
