<div class="content">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
				<h1>MEASURE YOUR DRAKE SENSITIVITY LEVEL</h1>
				<h3 class ="lead"> Take the quick quiz </h3>
				<br>
				<a class="btn btn-lg btn-danger" href="#/question" role="button">
				TRY IT
				</a>
		</div>
		<div class="col-md-5">
				<img ng-src="/images/Drakemain.png" class="img-responsive hidden-xs" alt="Responsive image"/>
				<p>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
				</p>
		</div>
	</div>
</div>
