
<div ng-controller="QuestionController">
	
	<h2 id ="title">{{question[count].no + ". " + question[count].question | uppercase }}</h2>
	<button type="button" ng-click="button()" ng-init="count=0" class="btn btn-default btn-lg btn-block">
		{{question[count].A}}
	</button>
	<button type="button" ng-click="button()" class="btn btn-default btn-lg btn-block">
		{{question[count].B}}
	</button>
	<button type="button" ng-click="button()" class="btn btn-default btn-lg btn-block">
		{{question[count].C}}
	</button>
	<button type="button" ng-click="button()" class="btn btn-default btn-lg btn-block">
		{{question[count].D}}
	</button>

	{{count}}
	
</div>