
<div ng-controller="QuestionController">

	<h1 id ="title">{{question[count].no + ". " + question[count].question | uppercase }}</h2>


	<button type="button" ng-click="button(1)" class="btn btn-default btn-lg btn-block space">
		{{"A. " + question[count].A | uppercase}}
	</button>
	<button type="button" ng-click="button(2)" class="btn btn-default btn-lg btn-block space">
		{{"B. " + question[count].B | uppercase}}
	</button>
	<button type="button" ng-click="button(3)" class="btn btn-default btn-lg btn-block space">
		{{"C. " + question[count].C | uppercase}}
	</button>
	<button type="button" ng-click="button(4)" class="btn btn-default btn-lg btn-block space">
		{{"D. " + question[count].D | uppercase}}
	</button>



</div>
