
<div ng-controller="QuestionController">
	
	<h2 id ="title">{{question[count].no + ". " + question[count].question | uppercase }}</h2>
	<button type="button" ng-click="button(1)" class="btn btn-default btn-lg btn-block">
		{{"A. " + question[count].A}}
	</button>
	<button type="button" ng-click="button(2)" class="btn btn-default btn-lg btn-block">
		{{"B. " + question[count].B}}
	</button>
	<button type="button" ng-click="button(3)" class="btn btn-default btn-lg btn-block">
		{{"C. " + question[count].C}}
	</button>
	<button type="button" ng-click="button(4)" class="btn btn-default btn-lg btn-block">
		{{"D. " + question[count].D}}
	</button>

	
</div>